# Ignore all files inside confluence_docs directory
confluence_docs/*

# Ignore the faiss_index directory
faiss_index/

# Ignore Python cache files and directories
__pycache__/

# Ignore the virtual environment directory
venv/
.venv/

# Ignore the list of URLs to scrape
base_urls.txt

# Ignore MAC's .DS_Store
.DS_Store